.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.textbox {
  width: 25vw;
  height: 6vh;
  border-radius: 3vh;
  border-width: 1px;
  padding: 0 12px;
  box-sizing: border-box;
}
